body {
	background-color: #1d80c1;
	background-image: linear-gradient(to bottom, #1d80c1, #2c9ed5);
}

html,
body {
	height: 100%;
	display: grid;
	line-height: 120%;
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
}

#container {
	margin: auto;
	height: 70%;
	width: 70%;
	z-index: 3;
	padding: 20px;

	background-color: #1572b7;
	color: #efefef;
}

h1 {
	text-align: center;
}

.dados {
	display: flex;
	justify-content: space-between;
}

.cdados {
	display: flex;
	columns: 1;
	flex-flow: column;
	align-items: center;
}

input {
	border: 1px solid #024094;
	border-radius: 3px;
	background-color: #0000cc;
	color: white;
	font-weight: bold;
	height: 25px;
	font-size: 18px;
}
