body {
	background-color: #1d80c1;
	background-image: linear-gradient(to bottom, #1d80c1, #2c9ed5);
}

html,
body {
	height: 100%;
	display: grid;
}

#container {
	margin: auto;
	height: 70%;
	width: 70%;
	z-index: 3;
	padding: 20px;

	background-color: #1572b7;
	color: #efefef;
}

.dados {
	display: flex;
	justify-content: space-between;
}

.cdados {
	display: flex;
	columns: 1;
	flex-flow: column;
	align-items: center;
}
