body {
	background-color: #1d80c1;
	/* background-image: linear-gradient(to bottom, #1d80c1, #2c9ed5); */
	background-image: linear-gradient(to bottom, #1d80c1, #ffffff);
}

html,
body {
	/* height: 100%; */
	display: grid;
}

form {
	display: grid;
}

body {
	margin: 0;
	padding: 0;
	line-height: 120%;
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
}

.center {
	display: flex;
	justify-content: center;
}

.container {
	margin: auto;
	border-radius: 20px;
	/* height: 70%; */
	width: 70%;
	z-index: 3;
	padding: 10px;
	background-color: #1572b7;
	color: #efefef;
	border: 3px solid #1d80c1;
}

#simulacao,
#resultado {
	margin-top: 50px;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
}

.dados {
	display: flex;
	justify-content: space-between;
}

.cdados {
	display: flex;
	columns: 1;
	flex-flow: column;
	align-items: center;
}

input {
	border: 1px solid #024094;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color: #7892c2;
	color: white;
	font-weight: bold;
	height: 25px;
	font-size: 18px;
	text-align: right;
}

.btsubmit {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color: #7892c2;
	border-radius: 10px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 19px;
	padding: 12px 37px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
	width: 100%;
	text-align: center;
}
.btsubmit:hover {
	background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color: #476e9e;
}
.btsubmit:active {
	position: relative;
	top: 1px;
}

tr td:first-child {
	text-align: center;
}
