.parcelas {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	width: 100%;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.parcelas thead tr {
	background-color: #476e9e;
	/* color: #ffffff; */
	text-align: center;
	font-weight: bold;
}

.parcelas th,
.parcelas td {
	padding: 12px 15px;
}

.parcelas td {
	text-align: right;
	background-color: #7892c2;
}

.parcelas tbody tr {
	border-bottom: 1px solid #dddddd;
}

.parcelas tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.parcelas tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.parcelas tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}
